{% extends 'base.html.twig' %}

{% block content %}
        <a class="btn btn-info" href="{{ path('advert_new') }}" style="width: 100%">Create a new advert</a>
        {% for advert in adverts %}
            {{ include('advert/advert_content.html.twig',{'advert':advert}) }}
        {% endfor %}
{% endblock %}
