{% extends 'base.html.twig' %}

{% block content %}
    {{ include('advert/advert_content.html.twig',{'advert':advert}) }}
    <h3>Comments</h3>
    <div class="row"><a href="{{ path('comment_new',{'id':advert.id}) }}" class="btn btn-info" style="width: 100%; collapse: 0;">Add New Comment</a></div>
    {% for comment in comments %}
        {{ include('comment/comment_content.html.twig',{'comment':comment}) }}
    {% endfor %}
{% endblock %}
